/** {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}*/

body,html, main {
    height: 100%;
    margin: 0;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    font-size: 13px;
}

@media(min-width:900px) {
    
    .navContent {
        display: flex;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .navContentDiv {
        display: flex;
        margin-left: 20px;
        align-items: center;
    }

    .navContentDiv img {
        margin-top: 2px;
        margin-right: 10px;
        vertical-align: middle;
        border-style: none;
    }

    .navContentDiv a {
        color: white;
    }

    header {
        margin-top: 10px;
        display: flex;
        border-bottom: 0.5px solid #828282;
        /* justify-content: space-around; */
    }

    .headerDivs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px 0;
    }

    .headerDivs  input {

        border-radius: 5px;
        font-size: 13px;
        color: #828282;
        width: 30%;
        height: 45px;
        text-align: center;
    }

    .navActions {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
    }

    .navActions .login, .navActions .list, .navActions .cart {
        margin-right: 20px;
        text-align: center;
    }

    .navActions .login img , .navActions .list img, .navActions .cart img{
        vertical-align: middle;
    }

    .navActions .login span, .navActions .list span, .navActions .cart span {
        font-size: 11px;
        color:black;
        display: block;
        font-weight: 600;
        text-transform: uppercase;
    }

    .beforeHero {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .beforeHero p {
        text-transform: uppercase;
        font-size: 12px;
        font-style: normal;
        align-items: center;
        color: #4F4F4F;
    }

    .beforeHero .golden {
        color: #F4811F;
    }

    #hero{
        background-image: url('./assets/chandelierBackground.png');
        background-repeat: no-repeat;
        height:100%;
        background-position: center;
        background-size: cover;
    }

    #innerhero{
        background-color: white;
        width: 364px;
        height: 252px;
        border-radius: 10px;
        padding: 15px;
        position: relative;
        top: 176px;
        bottom: 176px;
        left: 120px;
    }

    .shopDiv, .popCategories {
        margin-left: 128px;
        margin-right: 128px;
        margin-top: 40px;
    }

    .shopDiv h3, .popCategories h3 {
        font-size: 16px;
        font-weight: 500;
    }

    .shopDiv h3 span, .popCategories h3 span {
        color: #F4811F;
        font-size: 12px;
        margin-left: 10px;
        text-decoration: underline;
    }

    .shopDiv .shopDivParagraph {
        font-size: 12px;
        font-weight: 300;
    }

    .shopDivImages {
        display: flex;
        gap: 16px;
    }

    .popCategoriesImages {
        display: flex;
        gap: 10px;
    }

    .shopDivImages1 {
        background-image: url('./assets/shopBySpace.png');
        width: 300px;
        height: 200px;
    }

    .shopDivImages2 {
        background-image: url('./assets/shopBySpace2.png');
        width: 300px;
        height: 200px;
    }

    .shopDivImages3 {
        background-image: url('./assets/shopBySpace3.png');
        width: 300px;
        height: 200px;
    }

    .shopDivImages1 p, .shopDivImages2 p, .shopDivImages3 p {
        color: #F4811F;
        background-color: white;
        width: 120px;
        padding-left: 10px;
        border-radius: 5px;
        position: relative;
        top: 168px;
        left: 20px;
        text-transform: uppercase;
    }

    .popCategoriesImages1 {
        background-image: url('./assets/popularCategories1.png');
        width: 500px;
        height: 400px;
    }

    .popCategoriesImages2 {
        background-image: url('./assets/popularCategories2.png');
        width: 500px;
        height: 400px;
    }

    .popCategoriesImages1 p, .popCategoriesImages2 p {
        color: #F4811F;
        background-color: white;
        width: 200px;
        padding-left: 10px;
        border-radius: 5px;
        position: relative;
        top: 368px;
        left: 20px;
        text-transform: uppercase;
    }
}

